In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

In [2]:
df = pd.read_csv('mobile_phone_price.csv')

In [3]:
df.head()

,battery_power,bluetooth,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
df.shape

(2000, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   bluetooth      2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
X = df.drop(['price_range'], axis=1)

In [7]:
Y = df['price_range']

In [8]:
X.shape

(2000, 20)

In [9]:
Y.shape

(2000,)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

In [11]:
X_train.isnull().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [12]:
X_test.isnull().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [13]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [14]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [15]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.900684,0.0,-0.2500,-1.0,1.166667,-1.0,1.00000,0.333333,0.819672,0.75,0.363636,-0.651946,0.838519,0.478157,0.714286,-0.571429,0.8,-1.0,1.0,-1.0
1,-0.597200,1.0,-0.1875,0.0,-0.333333,-1.0,-0.56250,0.833333,0.213115,1.00,-0.727273,-0.328593,-0.985260,0.584914,0.857143,0.285714,-0.5,0.0,1.0,-1.0
2,0.767828,1.0,-0.1250,0.0,0.166667,0.0,0.34375,0.833333,0.377049,0.75,0.454545,-0.300150,0.376024,0.691670,0.857143,1.142857,0.0,0.0,1.0,0.0
3,0.779551,0.0,-0.3750,-1.0,1.000000,0.0,-0.59375,-0.333333,-0.409836,-0.75,0.727273,-0.723802,0.707501,0.181486,-0.714286,-0.142857,-0.5,0.0,1.0,0.0
4,0.739173,1.0,0.5000,0.0,0.000000,0.0,0.56250,0.000000,-0.639344,-0.25,0.090909,-0.276198,0.939404,0.820902,-0.857143,-0.428571,0.7,0.0,0.0,0.0

In [59]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=2)
svclassifier.fit(X_train, Y_train)

SVC(degree=2, kernel='poly')

In [60]:
Y_pred_poly = svclassifier.predict(X_test)

In [61]:
Y_pred_poly=svclassifier.predict(X_test)
from sklearn.metrics import confusion_matrix
  
cm = confusion_matrix(Y_test, Y_pred_poly)
cm

array([[118,   4,   2,   0],
       [  9,  92,   9,   0],
       [  0,  28,  93,   4],
       [  1,   3,  21, 116]])

In [62]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred_poly)*100,"%")

Accuracy: 83.8 %

In [63]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_poly))

              precision    recall  f1-score   support

           0       0.92      0.95      0.94       124
           1       0.72      0.84      0.78       110
           2       0.74      0.74      0.74       125
           3       0.97      0.82      0.89       141

    accuracy                           0.84       500
   macro avg       0.84      0.84      0.84       500
weighted avg       0.85      0.84      0.84       500

In [64]:
# RBF Kernel

In [65]:
from sklearn.svm import SVC 
rbf_kernel = SVC(kernel = 'rbf', random_state = 0) 
rbf_kernel.fit(X_train, Y_train)

SVC(random_state=0)

In [66]:
Y_pred_rbf = rbf_kernel.predict(X_test)

In [67]:
Y_pred_rbf=rbf_kernel.predict(X_test)
from sklearn.metrics import confusion_matrix
  
cm = confusion_matrix(Y_test, Y_pred_rbf)
cm

array([[122,   2,   0,   0],
       [  8,  96,   6,   0],
       [  0,  13, 108,   4],
       [  0,   0,  17, 124]])

In [68]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred_rbf)*100,"%")

Accuracy: 90.0 %

In [69]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred_rbf))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96       124
           1       0.86      0.87      0.87       110
           2       0.82      0.86      0.84       125
           3       0.97      0.88      0.92       141

    accuracy                           0.90       500
   macro avg       0.90      0.90      0.90       500
weighted avg       0.90      0.90      0.90       500