In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Pokemon.csv")

In [3]:
df.head()

,Name,Type,Strength,HP,Attack,Defense,Legendary
0,Thundurus Incarnate Forme,Electric,Medium,79,115,70,True
1,Mega Garchomp,Dragon,Strong,108,170,115,False
2,Rayquaza,Dragon,Strong,105,150,90,True
3,Ekans,Poison,Low,35,60,44,False
4,Reshiram,Dragon,Strong,100,120,100,True

In [4]:
df["Legendary"].unique()

array([ True, False])

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
enc = LabelEncoder()

In [7]:
df["Legendary"]=enc.fit_transform(df["Legendary"])

In [8]:
df.head()

,Name,Type,Strength,HP,Attack,Defense,Legendary
0,Thundurus Incarnate Forme,Electric,Medium,79,115,70,1
1,Mega Garchomp,Dragon,Strong,108,170,115,0
2,Rayquaza,Dragon,Strong,105,150,90,1
3,Ekans,Poison,Low,35,60,44,0
4,Reshiram,Dragon,Strong,100,120,100,1